.section {
    background-color: lemonchiffon;
  }
  
  .headers {
    color: darkblue;
  }
  
  #email {
    background-color: goldenrod;
  }
  
  #github {
    background-color: lightsteelblue
  }
  
  #instagram {
    background-color: darkorange;
  }
  
  #linkedin{
    background-color: rgb(241, 109, 131)
    ;
  }